@import "tailwindcss";

@theme {
  --color-primary: #75bc29;
  --color-secondary: #bad04a;
  --color-custom-gray: #6f6f6f;

  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-mont: "Montserrat", sans-serif;
}

.section {
  max-width: 1028px;
  margin: auto;
}

.card {
  box-shadow: -6px -6px 15px 0px rgba(0, 0, 0, 0.18);

  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.18);
}

.heroSection {
  background: url("https://picsum.photos/1000");
}
:after {
}

section.heroSection:before {
  content: "";
  background: linear-gradient(
    90.15deg,
    #bad04a 30.58%,
    rgba(186, 208, 74, 0.1) 78.17%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.autoSlideshow {
  white-space: nowrap;
  margin: 0;
  animation: 10s linear infinite scroll-text;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

.overlay {
  background: #00000096;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999;
  backdrop-filter: blur(0px);
  transition: 0.5s ease;
}

.overlay.shown {
  opacity: 1;
  pointer-events: visible;
  backdrop-filter: blur(2px);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  min-width: 90vw;
  background: #fff;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.shown {
  opacity: 1;
  pointer-events: visible;
  transform: translateX(0%);
}
